@font-face {
  font-family: "IRANSansXBold";
  src: url("IRANSansXBold.ttf") format("truetype");
}

@font-face {
  font-family: "IRANSansXDemiBold";
  src: url("IRANSansXDemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "IRANSansXMedium";
  src: url("IRANSansXMedium.ttf") format("truetype");
}

@font-face {
  font-family: "IRANSansXRegular";
  src: url("IRANSansXRegular.ttf") format("truetype");
}

.font-IRANSansXBold {
  font-family: IRANSansXBold;
}

.font-IRANSansXDemiBold {
  font-family: IRANSansXDemiBold;
}

.font-IRANSansXMedium {
  font-family: IRANSansXMedium;
}

.font-IRANSansXRegular {
  font-family: IRANSansXRegular;
}
