@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "IRANSansXRegular";
    color: onBackground;
    text-align: right;
    direction: rtl;
}

.debug{
    border: 2px solid red;
}